body {
    background-color: rgb(238, 232, 232);
    font-family: '微軟正黑體', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.banner {
    width: 200px;
    display: inline-block;
    color: rgb(207, 215, 223);
    background-color: rgb(87, 130, 211);
    margin: 12px 24px;
    padding: 6px 22px;
}

#title {
    width: 200px;
    color: #2c2828;
    background-color: aliceblue;
    font-size: 48px;
    margin: 20px 12px;
    margin: 12px;
    padding: 30px;

}

.text {
    text-align: left;
    padding: 20px;
}

.tentip {
    background-color: burlywood;
    font-size: 20px;
}

#bmi-table {
    width: 80;
    height: 200px;
    background-color: aquamarine;
    margin: 0 auto;
}

#bmi-table thead {
    background-color: rgb(177, 93, 93);
    color: aliceblue;
}

#bmi-table th {
    font-size: 12px;
    font-weight: lighter;
}

#bmi-table tbody {
    background-color: darkolivegreen;
    font-size: 0.8;
}

/* .==class #代表id 1em==16 */